@use 'base';

.project-container {
  // border: 1px solid green;
  display: flex;
  flex-direction: row-reverse;
  background-color: lighten(base.$background-primary, 10%);
  padding: 1em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  max-width: 75vw;
  align-items: flex-start;
  justify-content: center;
}

.project-preview {
  width: 500px;
  max-width: 100%;
  border-radius: .5em;
}

.project-text-section {
  // border: 1px solid red;
  text-align: center;
  margin-left: 1em;
  width: 50%;
}

.project-title {
  font-size: 2em;
}

.project-desc, .project-tech, .project-ghLink {
  // border: 1px solid pink;
  padding-top: .75em;
  padding-bottom: .75em;
  margin: .25em;
}

.project-ghLink {
  cursor: pointer;
  transition: 100ms;

  &:hover {
    color: base.$white;
  }
}

.project-container:hover {
  color: lighten(base.$text-clr, 10%);
  transition: 100ms;
}