@use 'base';

.projects-container {
  // border: 1px solid green;
  text-align: center;
  max-height: 100%;
}

.projects-header {
  margin-bottom: .5em;
  font-size: 3rem;
}

body {
  overflow: hidden;
}

